html {
  font-size: 12px;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2rem 95vh 95vh 95vh 95vh;
}

nav {
  height: 5vh;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  grid-column: 1/4;
}

a {
  padding-right: 2rem; /* 24px */
  font-size: 1.4rem;
}

section {
  height: 95vh;
  border: 1px solid black;
}

.section1 {
  background: orange;
  grid-column: 1/4;
}

.section2 {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 30% 70%;
}

.section3 {
  grid-column: 1/4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
}

.left {
  display: inline-block;
  background-color: blue;
}

.right {
  display: inline-block;
  background-color: purple;
}

.section3 div {
  width: 30%;
  height: 24rem;
  border: 1px solid black;
}
